* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: brown;
}

.form-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choice-container {
    width: 300px;
    margin-top: 20px;
}

.submit-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.result-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.result-container p {
    width: 100%;
    border: 1px blue solid;
    padding: 10px;
    margin: 0px;
}